<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form html</title>
</head>
<body>
    <form method="POST" action="../controllers/studiantAdd.php">
        <p>Cin: <input type="text" name="cin" id=""></p>
        <p>Nom: <input type="text" name="nom" id=""></p>
        <p>Prenom: <input type="text" name="prenom" id=""></p>
        <p>Age: <input type="number" name="age" id=""></p>
        <p>Email: <input type="text" name="email" id=""></p>

        <input type="submit" value="Submit">
    </form>
</body>
</html>